/* Status bar
   ========================================================================== */

.status-bar {
  display: flex;
  margin-top: 2px;

  .well {
    position: relative;
    flex-grow: 1;
    margin-top: 1px;
    height: 20px;
    padding: 2px;
    border-top: 1px solid nth($window-shades, 4);
    border-left: 1px solid nth($window-shades, 4);
    border-bottom: 1px solid nth($window-shades, 1);
    border-right: 1px solid nth($window-shades, 1);
    box-shadow: none;
  }
}